@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

h1 {
    font-family: 'Bungee Shade', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100%;
}
 
#main {
    flex: 1 0 auto;
}

#image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#tribute-link-section{
    flex-shrink: none;
}

.reframe {
    height: auto;
    width: 20px;
    background-color: blue;
}

.card-height {
    /* height: 300px; */
}

.title-margin {
    margin: 50px;
}

.footer-color {
    background-color: blue;
}